@font-face {
  font-family: poppins;
  src: url(../../fonts/poppins/Poppins-Medium.ttf);
}
.titulo{
    font-family: poppins;
    color: white;
    font-size: 50px;
    height: 80px;
    text-align: center;
    background-color: rgb(0, 51, 102);
    
  }