@font-face {
    font-family: poppins;
    src: url(../../fonts/poppins/Poppins-Medium.ttf);
}
.cuerpo{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
.tarjeta{
    width: 300px;
    box-shadow: 0px 0px 10px grey;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    text-align: center;
}
.tarjeta-img{
    max-width: 300px;
    max-height: 200px;
}
.tarjeta_contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
    font-family: poppins;
}
.contenido-precio{
    font-size: 18px;
}
.contenido-km-año{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tarjeta-btn{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.btn{
    background-color: rgb(2, 0, 92);
    color: white;
    border: none;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}